<h1>Welome {{name}}</h1>

<div class="container">
    Welcome {{name}}. You can manage your todos 
  </div>
<div class="container">
Manage Todos: <a routerLink="/todos" (click)="showTodo()"> Link </a>   
</div>

<div class="container">
    <button (click)="welcomeMessagewithParameter()" class=".btn btn-success">Welcome</button>   
    </div>

<div class="container" *ngIf="beanMessage">
    <h3>MESSAGE:</h3>
    {{beanMessage}}
</div>

<div class="container" *ngIf="errorMessage">
    <h3>MESSAGE:</h3>
    {{errorMessage}}
</div>